<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>About Page</title>
</head>
<body>
<section>
        <div class="card mr-3 ml-3">
            <div class="card-body">
                <h1 class="text-center">Your Contacts</h1>
<!--                search-->
                <div class="search-container my-4">
                    <input id="search-input" type="text" class="form-control" placeholder="Search your contact.." />
                        <div class="search-result">
<!--                                result go here-->

                        </div>
                </div>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="c : ${contacts}">
                        <th scope="row" th:text="${'SCMUSER '+c.cId}">1</th>
                        <td>
                            <img class="my_profile_picture" src="" th:src="@{'/img/'+${c.image}}" alt="profile photo">
                            <span th:text="${c.name}"></span></td>

                        <td>
                            <a href="#" th:href="@{'/user/'+${c.cId}+'/contact'}">
                            <span th:text="${c.email}"></span>
                            </a>
                        </td>x
                        <td th:text="${c.phone}">@mdo</td>
                        <td>
                            <a href="#" th:onclick="|deleteContact(${c.cId})|" class="btn btn-danger btn-sm">Delete</a>
                            <form method="post" th:action="@{'/user/update-contact/'+${c.cId}}" class="mt-2" >
                                <button type="submit" class="btn btn-primary btn-sm">Edit</button>
                            </form>

                        </td>

                    </tr>

                    </tbody>
                </table>
<!--                pagination-->
                <nav aria-label="Page navigation example ">
                    <ul class="pagination">
                        <li th:if="${currentPage-1 >= 0}" class="page-item"><a class="page-link" th:href="@{'/user/contacts/' + ${currentPage-1}}" href="#">Previous</a></li>

                        <li th:classappend="${currentPage==i-1?'active':''}" th:each="i : ${#numbers.sequence(1,totalPages)}" class="page-item">
                            <a class="page-link" th:href="@{'/user/contacts/' +${i-1}}" href="#">
                                <span th:text="${i}"></span>
                            </a>
                        </li>



                        <li th:if="${currentPage+1 != totalPages}" class="page-item"><a class="page-link" th:href="@{'/user/contacts/' + ${currentPage+1}}" href="#">Next</a></li>
                    </ul>
                </nav>

            </div>
        </div>
</section>
</body>
</html>